<div class="course-content-title">{{courseObj.id}} --- {{courseObj.name | capitalize }}</div>

<div *ngIf="this.typeCurrency === 'USD'"> 
    Price : {{courseObj.price*2 | currency: this.typeCurrency :'symbol-narrow': '2.2-3'}}
</div>

<div *ngIf="this.typeCurrency === 'EUR'"> 
    Price : {{courseObj.price | currency: this.typeCurrency :'symbol-narrow': '2.2-3'}}
</div>

<div *ngIf="this.typeCurrency === 'VND'"> 
    Price : {{courseObj.price*2000  | currency: this.typeCurrency :'symbol-narrow'}}
</div>


<div>{{courseObj.summary | summaryCourse : this.typeSummary}}</div>


<div class="item-cat" [innerHTML]="courseObj.cat | categoryCourse "></div>
<!-- <div [innerHTML]="courseObj.cat | category "></div> -->