<h1>input - Output - ngfor - ngClass - event bidding </h1>
<div *ngIf="isShowForm" style="background-color: rgb(236, 236, 238);">
    <nz-divider nzOrientation="left" nzText="Horizontal"></nz-divider>
    <div nz-row [nzGutter]="[16, 24]" nzJustify="center">
        <div nz-col nzSpan="8">
            <input nz-input type="text" placeholder="name" [(ngModel)]="name" />
        </div>
        <div nz-col nzSpan="8">
            <input nz-input type="text" placeholder="0" [(ngModel)]="age" (mouseup)="clearInput()" />
        </div>
        <div nz-col nzSpan="8">
            <nz-select ngModel="lucy" [(ngModel)]="gender">
                <nz-option nzValue="female" nzLabel="Females"></nz-option>
                <nz-option nzValue="male" nzLabel="Male"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="24">
            <button nz-button nzType="primary" nzShape="round" (click)="isShowForm = false"> Cancel </button>
        </div>

    </div>

    <nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
    </nz-card>
    <ng-template #extraTemplate>
        <a>More</a>
    </ng-template>
</div>
<!-- <button nz-button nzType="primary">Primary</button>
<button nz-button nzType="default">Default</button>
<button nz-button nzType="dashed">Dashed</button>
<a nz-button nzType="link">Link</a> -->
<button nz-button nzType="primary" (click)="isShowForm = true" *ngIf="!isShowForm"> Add new member</button>
<br><br>

<!-- loc filter gender -->
<nz-select [(ngModel)]="filterGender">
    <nz-option nzValue="all" nzLabel="All"></nz-option>
    <nz-option nzValue="male" nzLabel="Male"></nz-option>
    <nz-option nzValue="female" nzLabel="Female"></nz-option>
    <label>xóa data của parent thông qua click xóa từ Child</label><br>
</nz-select>
<br><br>
<!-- function filterShow de loc phan tu filter -->
<div [ngClass]="'member-list'">
    <!-- <div *ngFor=" let member of memberList"> -->
    <ng-template ngFor let-member [ngForOf]= "memberList">

        <div [ngClass]= "member.gender === 'female' ? 'female list-item': 'male list-item'">
            <label>{{ member.name|capitalize}} </label>
            <label>{{member.age}}</label>
            <label>{{member.gender}}</label>
            <label>{{member.vip ? "VIP":"normal"}}</label>
            <div>
                <button nz-button nzType="default"  nzShape="round" (click)="vip = !vip">{{vip ? "To Normal":" Up To VIP"}}</button>
                <button nz-button nzType="primary" nzDanger="true" nzShape="circle" (click)="removeByClick(member.id)"> 
                    <label>X</label> 
                </button>
            </div>
        </div>
        <!-- <app-child-item [name]="member.name" [age]="member.age" [gender]="member.gender" [vip]="member.vip"
            (removeMember)=removeMember(member.id) *ngIf="filerShow(member.gender)">
        </app-child-item> -->
    </ng-template>
</div>