/* You can add global styles to this file, and also import other style files */
@import url(~ng-zorro-antd/ng-zorro-antd.min.css);
@import url(~ng-zorro-antd/button/style/index.min.css);
h1 {
  color: #802603;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2rem; }

ul li {
  list-style: none; }
  ul li i {
    cursor: pointer; }

.rating-space {
  display: flex;
  flex-direction: row; }

.rating-list {
  display: flex;
  flex-direction: row;
  margin-right: 2rem; }
  .rating-list li {
    margin: 0.2rem; }
    .rating-list li i {
      font-size: 1rem; }

.my-row .col-lg-4 {
  border-bottom: 0.1rem dotted #ccc;
  border-left: 0.1rem dotted #ccc;
  padding: 1rem; }

.text-title {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  background-color: #f3f3f3;
  display: block;
  text-align: center;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif; }

.text-content {
  color: #999; }

@keyframes example {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0; }
  to {
    transform: scale(1, 1);
    opacity: 1; } }
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0077ff;
  margin: 2rem;
  animation-name: example;
  animation-duration: 1s; }

.square {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: green;
  margin: 2rem;
  animation-name: example;
  animation-duration: 1s; }

.ng-class-one {
  color: blue;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px #666; }

.ng-class-tow {
  color: green;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px #666; }

.list-style {
  display: flex;
  flex-direction: row; }
  .list-style li {
    flex: 1;
    list-style: none; }
    .list-style li p {
      font-size: 1.5rem;
      font-weight: bold; }


.product-list > li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }
  .product-list > li .product-list-title {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .product-list > li .product-list-title h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #016ac0; }
    .product-list > li .product-list-title label {
      padding-left: 3rem;
      color: #ccc;
      font-size: 0.8rem; }
  .product-list > li .product-list-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .product-list > li .product-list-content img {
      margin-right: 1rem;
      border-radius: 0.3rem; }
    .product-list > li .product-list-content .product-list-description {
      align-items: center; }
